{% extends 'base.html' %}
{% load static %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
<link rel="stylesheet" href="{% static 'css/page1.css' %}">


<h1>Upload and Analyze Your Dataset</h1>

<!-- File Upload Form -->
<form action="{% url 'upload_and_display' %}" method="POST" enctype="multipart/form-data" style="margin-bottom: 15px;">
    {% csrf_token %}
    <label for="dataset">Nom du dataset:</label>
    <input type="file" name="dataset" id="dataset" accept=".csv" >
    <button type="submit">Upload</button>
</form>

<!-- Dataset Details Section -->
{% if dataset_name %}
    <h2>Dataset: {{ dataset_name }}</h2>

    <!-- Data Preview -->
    <div class="table-wrapper">
        <table class="fl-table">
            <thead>
                <tr>
                    {% for column in table.columns %}
                        <th>{{ column }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in table.values %}
                    <tr>
                        {% for cell in row %}
                            <td>{{ cell }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Describe and Infos Section -->
    <div class=A1>
        <!-- Describe Section -->
        <div class="card describe-card">
            <h3>Describe</h3>
            <!-- Render the Describe table -->
            {{ describe_html|safe }}
        </div>

        <!-- Infos Section -->
        <div class="card">
            <h3>Infos</h3>
            <!-- Render the Info section -->
            {{ info_html|safe }}  <!-- Render the Info HTML -->
        </div>
    </div>
{% endif %}
{% endblock %}