<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
        <title>Responsive sidebar submenus</title>
        <link rel="stylesheet" href="/app/static/css/sidebar.css">
    </head>
    <body>
        <!--========== HEADER ==========-->
        <header class="header">
            <div class="header__container">
                <!-- Profile picture and username wrapper -->
                <div class="header__profile">
                    <img src="https://w7.pngwing.com/pngs/184/113/png-transparent-user-profile-computer-icons-profile-heroes-black-silhouette-thumbnail.png" alt="Profile" class="header__img">
                    <p class="header__username">{{ user.username }}</p>
                </div>
        
                <div class="header__toggle">
                    <i class='bx bx-menu' id="header-toggle"></i>
                </div>
            </div>
        </header>
        
        <!--========== NAV ==========-->
        <div class="nav" id="navbar">
            <nav class="nav__container">
                <div>
                    <a href="#" class="nav__link nav__logo">
                        <i class='bx bx-shape-square' ></i>
                        <span class="nav__logo-name">DataLab</span>
                    </a>
    
                    <div class="nav__list">
                      <div class="nav__items">
                        <h3 class="nav__subtitle">First Step</h3>
                        <a href="{% url 'upload_and_display' %}" class="nav__link active">
                            <i class='bx bx-cloud-upload nav__icon'></i> <!-- Changed icon -->
                            <span class="nav__name">Donneés</span>
                        </a>
                        <div class="nav__dropdown">
                            <a href="{% url 'visualize' %}" class="nav__link">
                                <i class='bx bx-bar-chart-alt nav__icon'></i> <!-- Changed icon -->
                                <span class="nav__name">Visualisation des données</span>
                            </a>
                        </div>
                        <a href="#" class="nav__link">
                            <i class='bx bx-cog nav__icon'></i> <!-- Changed icon -->
                            <span class="nav__name">Gestion des Données</span>
                        </a>
                    </div>

                    <div class="nav__list">
                        <div class="nav__items">
                            <h3 class="nav__subtitle">Second Step</h3>
                        
                            <!-- Upload and Display -->
                            <a href="{% url 'upload_and_display' %}" class="nav__link active">
                                <i class='bx bx-upload nav__icon'></i> <!-- Updated icon for upload -->
                                <span class="nav__name">Algorithmes de Machine Learning</span>
                            </a>
                        
                            <!-- Visualization Results -->
                            <div class="nav__dropdown">
                                <a href="{% url 'visualize' %}" class="nav__link">
                                    <i class='bx bx-line-chart nav__icon'></i> <!-- Updated icon for visualization -->
                                    <span class="nav__name">Résultats des algorithmes</span>
                                </a>
                            </div>
                        
                            <!-- Documentation and Tutorials -->
                            <a href="#" class="nav__link">
                                <i class='bx bx-book nav__icon'></i> <!-- Updated icon for documentation -->
                                <span class="nav__name">Documentation et Tutoriels</span>
                            </a>
                        </div>
                  </div>
                </div>

                <a href="{% url 'logout' %}" class="nav__link nav__logout">
                  <i class='bx bx-log-out nav__icon'></i>
                  <span class="nav__name">Log Out</span>
              </a>              
            </nav>
        </div>


        <!--========== MAIN JS ==========-->
        <script>
            /*==================== SHOW NAVBAR ====================*/
const showMenu = (headerToggle, navbarId) =>{
    const toggleBtn = document.getElementById(headerToggle),
    nav = document.getElementById(navbarId)
    
    // Validate that variables exist
    if(headerToggle && navbarId){
        toggleBtn.addEventListener('click', ()=>{
            // We add the show-menu class to the div tag with the nav__menu class
            nav.classList.toggle('show-menu')
            // change icon
            toggleBtn.classList.toggle('bx-x')
        })
    }
}
showMenu('header-toggle','navbar')

/*==================== LINK ACTIVE ====================*/
const linkColor = document.querySelectorAll('.nav__link')

function colorLink(){
    linkColor.forEach(l => l.classList.remove('active'))
    this.classList.add('active')
}

linkColor.forEach(l => l.addEventListener('click', colorLink))

        </script>
    </body>
</html>