{% extends 'base.html' %}
{% load static %}

{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
<link rel="stylesheet" href="{% static 'css/visualize.css' %}">
    <h1>Visualize Dataset</h1>

    <!-- Visualization Form -->
    <form method="POST">
        {% csrf_token %}
        
        <label for="x_column">Choose X-axis:</label>
        <select name="x_column" id="x_column">
            {% for column in df.columns %}
                <option value="{{ column }}">{{ column }}</option>
            {% endfor %}
        </select>

        <label for="y_column">Choose Y-axis (optional):</label>
        <select name="y_column" id="y_column">
            <option value="">None</option>
            {% for column in df.columns %}
                <option value="{{ column }}">{{ column }}</option>
            {% endfor %}
        </select>

        <label for="plot_type">Choose Plot Type:</label>
        <select name="plot_type" id="plot_type">
            <option value="hist">Histogram</option>
            <option value="scatter">Scatter Plot</option>
            <option value="count">Count Plot</option>
        </select>

        <button type="submit">Generate Plot</button>
    </form>

    {% if plot_div %}
        <div class="card">
            <h3>Visualization</h3>
            <div>{{ plot_div|safe }}</div>
        </div>
    {% endif %}
{% endblock %}